<div class="dual-container">
    <div class="dual-container-child">
    <h2>Database Results: <%= results.length %>  <%= typeof(results) %>, <%= typeof(results[0][0]) %> </h2>
  
    <ul>
        <% results.forEach(function(r) { %>
            <li><%= r.id %> - <%= r.walletbalance %></li>
        <% }); %>
    </ul>
  
    </div>
    <div class="dual-container-child">
      <h2>Database2 Results: nil </h2>
  
    <ul>
       <li>insert list here</li>
    </ul>
    </div>
  </div>