<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results: <%= results.length %>  <%= typeof(results) %>, <%= typeof(results[0][0]) %> </h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.walletbalance %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
